<div fxLayout="column">
    <div id="firstRow" fxFlexFill>
      <article>
        <accounting-common-btns-template></accounting-common-btns-template>
      </article>
    </div>
    <div id="secondRow" fxFlexFill>
        <article>
          <accounting-common-form></accounting-common-form>
        </article>
        <article>
            <accounting-common-grid-view></accounting-common-grid-view>
          </article>
      </div>
    <div id="thirdRow" fxFlexAlign="center" fxFlexFill>
      <article>
        <accounting-donut-chart></accounting-donut-chart>
      </article>
    <div>
  </div>
