header {
  min-height:18%;
}

main {
  position: relative;
  margin-top:1%;
  height:650px;
  max-height: 61%;
  width: 100%;
}

footer {
  margin-top: 1%;
  min-height: 17%;
  max-height: 17%;
  width: 40%;
  position: relative;
  left: 30%;
}
