header {
  min-height:18%;
  width:100%;
}

main {
  margin-top:1%;
  min-height:550px;
  height:550px;
  max-height: 61%;
  width:100%;
}

footer {
  margin-top: 1%;
  min-height: 17%;
  max-height: 17%;
  margin-bottom:3%;
}
