<div fxLayout="column" fxLayoutGap="5%">
  <div class="firstRow" fxLayout="row">
    <article></article>
    <article>
      <accounting-common-btns-template></accounting-common-btns-template>
    </article>
  </div>
  <div class="secondRow" fxLayout="row" flLayoutAlign="start">
    <article>
      <accounting-common-grid-view></accounting-common-grid-view>
    </article>
  </div>
  <div class="thirdRow" fxLayout="column" flLayoutAlign="center">
    <article>
      <accounting-donut-chart></accounting-donut-chart>
    </article>
  <div>
</div>

